.main-layout {
    max-width: 1920px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content-area {
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
    flex: 1;
}


/* Force full site to stay inside 1920px */

body {
    background-color: #f5f5f5;
}

.container,
.container-fluid {
    max-width: 1920px !important;
    margin-left: auto;
    margin-right: auto;
}

header,
main,
footer {
    max-width: 1920px;
    margin: 0 auto;
}