.table {
    border-collapse: collapse;
  }
  
  .border-bold {
    border: 2px solid black !important;
  }
  
  .table-bordered th,
  .table-bordered td {
    border: 2px solid black !important;
  }
  