.menu-list {
    list-style: none;
    padding: 0;
}

.menu-list li {
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;
}

.menu-list li:hover {
    color: green !important;
}

.menu-list li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu-list li a:hover {
    color: green !important;
}