.custom-form-height {
    height: 400px; /* Increase this value as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  .custom-form-height-register {
    height: 600px; /* Increase this value as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }