.map-responsive {
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio */
    height: 0;
}

.map-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}